@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TextPage>
@{
	Layout = null;
}

<<<<<<< HEAD
<h1>@Model.Header</h1>
<p>@Model.TextBox</p>
=======
<h1>@Model.Value("header")</h1>
<p>@Model.Value("textBox")</p>
@Model.Value("seeMeWork")
>>>>>>> 64b18e80699d9047b7dadba9cc658dd745aa2c71
